/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");

/* mike adds */

@font-face {
    font-family: Edmondsans-Regular;
    src: url(../fonts/Edmondsans-Regular.otf);
}

@font-face {
    font-family: Edmondsans-Medium;
    src: url(../fonts/Edmondsans-Medium.otf);
}

@font-face {
    font-family: Edmondsans-Bold;
    src: url(../fonts/Edmondsans-Bold.otf);
}

@font-face {
    font-family: MavenPro-Bold;
    src: url(../fonts/MavenPro-Bold.ttf);
}

.hero-grp { width:100% !important; max-width:100% !important; }
.hero-grp #slider-wrapper, .hero-grp .inner-wrapper { width:100%; height:637px;}
.nav-grp { background-color:#ebebe6; }

.footer-grp { height:100px; background:#0c0602; color:#fff; }

.footer-copy p, .footer-copy a { color:#fff !important; }

.back-top { font-size:18px; background-color:#ebebe6; padding:60px 0; width:100%; color:#000; text-align:center; font-weight:800; font-family: "MavenPro-Bold"}
.news-content { background: #FFF; color: #000;  padding: 20px;}
.news-item:hover .news-content { background: #000; color: #FFF; }
.more-btn {
  text-align:center;
  margin:65px auto 18px;
}
.more-btn a { font-family:'Edmondsans-Regular', serif; background:#000; color:#fff !important; text-transform:uppercase; height:60px; padding: 15px 70px 10px; font-size: 22px;}
.more-btn a:hover { opacity:0.9; }

.big-social-btns { background:url(../images/sprite-0.png); display:inline-block;
  height: 95px;
  width: 95px;
  background-position: 0 -70px;
  margin: 0 20px;
}

.big-social-btns.fb:hover { background-position:0 -170px; }
.big-social-btns.tw { background-position: -95px -70px; }
.big-social-btns.tw:hover { background-position:-95px -170px; }
.big-social-btns.yt { background-position: -190px -70px; }
.big-social-btns.yt:hover { background-position: -190px -170px; }
.big-social-btns.in { background-position: -286px -70px; }
.big-social-btns.in:hover { background-position: -286px -170px; }

.sm-social-btns { background:url(../images/sprite-0.png); display:inline-block;
  height: 25px;
  width: 25px;
  background-position: 0 0;
  margin: 0 10px;
}

.sm-social-btns.fb:hover { background-position: 0 -30px; }
.sm-social-btns.tw { background-position: -30px 0px; }
.sm-social-btns.tw:hover { background-position: -30px -30px; }
.sm-social-btns.yt { background-position: -65px 0px; }
.sm-social-btns.yt:hover { background-position: -65px -30px; }
.sm-social-btns.in { background-position: -100px 0px; }
.sm-social-btns.in:hover { background-position: -100px -30px; }

 h1.photo-title{ margin:20px 0; }
 h1.photo-title a { font-size:20px; font-family:'MavenPro-Bold'; text-transform:uppercase; margin:5px 0; }
#photos .photo-item { min-height:335px; }
.follow-social { margin: 0 auto; text-align: center; }
.follow-bg h1 { color:#fff; font-size:35px; font-family:'Edmondsans-Regular', serif;
  text-align:center;
  text-transform:uppercase;
  margin:20px 0 25px 0;
}

#videos article { text-align:center; }
#videos article .video-title { text-align:center; font-size:20px; font-weight:500; text-transform:uppercase;}
.news-item { border:1px solid #ebebe6; }


.menu-item.active a, .menu-item:hover a { color:#732F16 !important; }
.menu-item.active { border-bottom:2px solid #732F16; }

/* general */
    body { background:#fff; color:#000; font-family: sans-serif; font-weight:400; }
    body.locked { overflow:hidden; }
    a { color:#000000; text-decoration:none; }
      a:visited { color:inherit; }
      a:active, a:hover { color:#919191; text-decoration:none; }
    h1, h2, h3, h4, h5, h6, p { font-family: sans-serif; font-size:inherit; font-weight:normal; line-height:inherit; text-align:inherit; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:inherit; }
    p { font-family: sans-serif; }
    img { max-width:100%; vertical-align:middle; }
    ol { list-style:decimal; list-style-position:inside; }
    .container { max-width:940px; }
    .section-grp { padding:52px 0 55px 0; }
    .section--inner { margin-bottom:50px; padding:170px 0 0 0; }
    .sec-container { padding-bottom:20px; border-bottom:solid #ccc 1px; }
      .section-title { font-family:'Edmondsans-Bold', sans-serif; margin-bottom:27px; padding-bottom:19px; border-bottom:solid #ccc 1px; color:#000000; font-size:54px; text-transform:uppercase;  letter-spacing: -3px;}
      .section-content {}
        .section-content p { margin-bottom:12px; }
    strong, b { font-weight:700; }
    em, i { font-style:italic; }

    .round { border-radius:200px; -webkit-border-radius:200px; display:inline-block; }
    .align-right { text-align:right; }

    .more { width:100%; margin-top:33px; text-align:center; text-transform:uppercase; display:table; position:relative; }
      .more:before, .more:after { width:50%; background:url(../images/dotted-dash.png) 0 center repeat-x; display:table-cell; content:""; }
      a.more-anchor { padding:17px 53px 10px 53px; background:url(../images/btn-more.png) center 0 no-repeat; color:#fff; font-size:17px; font-family: 'Edmondsans-Regular', sans-serif;; letter-spacing:1px; display:table-cell; white-space:nowrap; }
      .more-anchor:hover { background-position:center -51px; color:#919191; }

    .back { color:#000; font-family: 'MavenPro Bold', sans-serif; text-transform:uppercase; float:right; }
    .back:hover{ color:#000 !important}
      .back-anchor { padding:0 6px; font-size:22px; font-family: 'MavenPro Bold', sans-serif; }
        .back-leftarrow { width:33px; height:33px; margin:-5px 4px 0 0; padding-top:2px; color:#333; font-size:25px; display:inline-block; vertical-align:middle; -ms-transform: rotate(-90deg); /* IE 9 */    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */    transform: rotate(-90deg); }
        .back-leftarrow:hover {color: #919191;}
      /*  .back-anchor:hover .back-leftarrow { background:#333; color:#333; border-color:#333; } */
    .tour-backarrow {padding-bottom: 45px !mportant;}
    .btn-backtop { width:170px; margin:0 auto; color:#000000; text-align:center; text-transform:uppercase; display:block; }
      .backtop-arrow { width:37px; height:37px; margin:0 auto 13px auto; padding-top:5px; background:#000000; color:#fff; font-size:25px; text-align:center; display:block; }
      .btn-backtop:hover .backtop-arrow { background:#919191; }

    .filler-bg-social { height:360px; padding-top:59px; background:url(../images/follow-bg.png) center -50px no-repeat; background-size:cover; }
    .filler-bg-facebook { height:360px; padding-top:59px; background:url(../images/quote-bg.png) center -50px no-repeat; background-size:cover; }
    .filler-bg-twitter { height:360px; padding-top:59px; background:url(../images/quote-bg3.png) center -50px no-repeat; background-size:cover; }
    .filler-bg-facebook.four { height:360px; padding-top:59px; background:url(../images/quote-bg4.png) center -50px no-repeat; background-size:cover;  }

    .img-holder { position:relative; overflow:hidden; }
		.img-holder img { width:100%; -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
			.img-holder:hover img, .news-item:hover .img-holder img { -moz-transform: scale(1.10); -webkit-transform: scale(1.10); -o-transform: scale(1.10); -ms-transform: scale(1.10); transform: scale(1.10);  -webkit-transform-origin:50% 50%; -o-transform-origin:50% 50%; -ms-transform-origin:50% 50%; transform-origin:50% 50%; }

    .trans-3 { -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
    .trans-7, .photo-img img { -webkit-transition: all .7s ease; -moz-transition: all .7s ease; -ms-transition: all .7s ease; -o-transition: all .7s ease; transition: all .7s ease; }

    .col-list { letter-spacing:-5px; }
      .col--item { letter-spacing:normal; display:inline-block; float:none; vertical-align:top; }

    .admin-bar .header-top { top:32px; }
    .admin-bar .header-grp.fixed, .admin-bar .inner-nav .header-grp { top:70px; }

/*	slider */

#slider-wrapper{
			width: 940px;
			height: 600px;
			margin: 36px auto;
			position: relative;
			margin-bottom: 0px;
			background: rgba(0,0,0,0.5);
			overflow: hidden;
		}

#s1{
    padding: 6px;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s2{
    padding: 6px;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s3{
    padding: 6px;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s4{
    padding: 6px;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s1:hover, #s2:hover, #s3:hover, #s4:hover{ opacity: 1;}

.inner-wrapper{
width: 940px;
height: 600px;
position: absolute;
top: 0;
left: 0;
margin-bottom: 0px;
overflow: hidden;
}
.control{ display: none;}

#Slide1:checked ~ .overflow-wrapper{ margin-left: 0%; }
#Slide2:checked ~ .overflow-wrapper{ margin-left: -100%; }
#Slide3:checked ~ .overflow-wrapper{ margin-left: -200%; }
#Slide4:checked ~ .overflow-wrapper{ margin-left: -300%; }

#Slide1:checked + #s1 { opacity: 1; }
#Slide2:checked + #s2 { opacity: 1; }
#Slide3:checked + #s3 { opacity: 1; }
#Slide4:checked + #s4 { opacity: 1; }

.overflow-wrapper{
width: 100%;
height: 637px;
position: absolute;
top: 0;
left: 0;
overflow-y: hidden;
z-index: 1;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.slide img{
    width: 100%;
    float: left;
}

/* header */
    .header-top { width:100%; padding:7px 0; background:#ebebe6; color:#000000; font-size:12px; text-transform:uppercase; position:fixed; top:0; left:0; z-index:50; }
      .social-item { margin-right:9px; padding:4px 6px 5px 4px; color:#000000; font-size:13px; text-align:center; vertical-align:middle; display:inline-block; }
        .social-item:hover { background:#333; color:#fff; }
        .social-item:before, .social-item:after { left:1px; }
          .side-follow { position:absolute; top:0; left:0; z-index:1; opacity:0; }

      .btn-join { color:#000; display:inline-block; padding-top: 4px}
        .btn-join .ico-mail { font-size:18px; vertical-align:text-bottom; }
        .btn-join:hover, .btn-join:hover .ico-mail { color:#fff; }

      #player { text-align:center; }
        .controls, .sc-title, #waveform, .btn-sc-buy { margin:0 5px; display:inline-block; vertical-align:top; }
        .sc-title { width:230px; height:14px; margin-top:4px; font-family: 'Arimo', sans-serif; font-size:11px; overflow:hidden; }
          .sc-track { display:none; }
          .sc-track.current { display:block; }
        .btn--sc { width:22px; height:22px; position:relative; cursor:pointer; display:inline-block; vertical-align:middle; }
        .prev, .next { width:18px; height:18px; }
        .prev:before, .next:before { top:4px; }
        .btn--sc:after, .btn--sc:before { width: 0; height: 0; position:absolute; content:""; }
          .btn--sc:hover {  }
          .btn--sc:hover:after { }

          .play:before {border-top:6px solid transparent; border-bottom:5px solid transparent; border-left:6px solid #fff; top:5px; left:10px; }
          .prev:before { border-top: 5px solid transparent; border-bottom: 4px solid transparent; border-right:5px solid #ddd; left:6px; }
          .next:before { border-top: 5px solid transparent; border-bottom: 4px solid transparent; border-left: 5px solid #ddd; left:8px;  }

        .playing {}
          .playing:before, .playing:after { width:4px; height:10px; background:#fff; border:none; top:6px; }
          .playing:before { left:6px; content:""; }
          .playing:after { left:12px; }
          .playing:hover:before, .playing:hover:after {  }
          .playing:hover {}

        #waveform { width:55px; height:3px; margin-top:9px; position:relative; }
          .buffer, .played { height:3px; background:#fff; position:absolute; top:0; left:0; }
          .buffer { background:#fff; z-index:1; }
          .played { background:#daa520; z-index:2; }
          .wf-img { width:100%; height:3px; position:absolute; top:0; left:0; z-index:3; opacity:0; }
        .btn-sc-buy { margin-top:3px; padding:1px 10px 0 10px; color:#000; font-size:11px; border:2px solid #000; text-transform:uppercase; }
          .btn-sc-buy:hover { background:#fff; color:#000; }

    	.header-grp { width:100%; text-transform:uppercase; position:relative; top:-8px; z-index:49; }
      .header-grp:after { width:100%; height:120px; position:absolute; top:0; left:0; content:""; z-index:0; }
      .header-grp.fixed, .inner-nav .header-grp { margin-top:-8px; position:fixed; top:34px; left:0; }
        .nav-grp {  font-size:22px; font-family: 'liberator'; letter-spacing:-4px; text-align:center; position:relative; z-index:1; }
          .menu-item, .page_item { font-family:'MavenPro-Bold', sans-serif; margin:0 10px; letter-spacing:4px; display:inline-block; vertical-align:top; -webkit-transition: all .7s ease; -moz-transition: all .7s ease; -ms-transition: all .7s ease; -o-transition: all .7s ease; transition: all .7s ease; }
          .menu-item:first-child, .page_item:first-child { margin-left:0; }
          .menu-item:last-child { margin-right:0; }
            .menu-item a, .page_item a { padding: 25px 35px 27px 15px; color: #0B0501; display: block; font-size: 16px; letter-spacing: 1px; font-weight: 500; }
          .nav--home .menu-item a, .nav--home .page_item a { padding:23px 17px 0 17px; }
            .menu-item:hover a, .nav--current a, .current-menu-item a, .page_item:hover a, .current_page_item a { color:#000; }

/* social */

.twitter-grp { padding-top:20px; }
.feed-item { height:0; margin:0 auto; /* overflow:hidden; */ }
.feed-item.show { height:200px; }
.facebook-item.show { height:260px; }
  .feed-header { padding-bottom:15px; text-align:center; }
    .feed-user { color:#fff; font-size:15px; text-transform:uppercase; }
      .feed-user .ico-twitter, .feed-user .ico-facebook { margin-left:24px; color:#fff; font-size:30px; font-weight:normal; }
      .feed-user a { color:#fff; vertical-align:super; }
    .feed-content { padding-bottom:10px; color:#fff; font-size:24px; letter-spacing:0.2px; line-height:31px; text-align:center; }
      .feed-content p { font-size:18px; line-height:31px; letter-spacing:2px; text-shadow:0 1px 2px #000000; }
    .feed-date { font-size:14px; }

.bullets { text-align:center; }
  .bullet-anchor { width:9px; height:9px; margin-right:11px; background:#fff; border:2px solid #fff; display:inline-block; }
  .bullet-anchor.active { background:#000; }

/* side social */
.side-social { position:fixed; top:166px; right:0; z-index:200; }
      .side-item { margin-bottom:3px; text-align:right; position:relative; }
        .side-anchor { height:48px; padding:9px 0 0 0; background:#fff; color:#000; font:400 15px 'Arimo', sans-serif; text-transform:uppercase; display:inline-block; position:relative; }
        .side--follow { cursor:default; }
          .side-icon { width:34px; height:34px; margin-right:0; margin-left:20px; padding-top:5px; font-size:20px; text-align:center; position:relative; right:9px; vertical-align:top; }

          .side-title { width:0; height:0; padding-top:3px; color:#fff; opacity:0; visibility:hidden; overflow:hidden; display:block; }
            .side-title a { color:inherit; }

      .side-item:hover .side-anchor { background:#000; }
      .side-item:hover .side-icon { margin:0 10px; color:#fff; top:auto; right:auto; transition-delay:.6s; -webkit-transition-delay:.6s; border-color:#fff6e2; }
      .side-item:hover .side-title { width:auto; height:auto; padding:5px 12px 0 19px; opacity:1; visibility:visible; transition-delay:.5s; -webkit-transition-delay:.5s; display:inline-block; }
      .side-item:hover .icon-spotify { background-image:url(../images/icon-spotify-h.png); }


/* tour */

.section-title--tour { margin-bottom:0; position:relative; }
    .sec-container .section-title--tour { margin-top:40px; padding-top:0; }
      .icon-bit { position:absolute; top:0; right:0; }
    #bit-events { position:relative; font-family:'Edmondsans Regular', sans-serif !important; border-bottom:2px solid #b2a085; }
      .bit-header { height:37px !important; border-bottom:2px solid #b2a085; }
      .bit-track-artist-header { padding:5px 0 !important; border-top:none !important; border-bottom:none !important; display:block !important; }
        .bit-header-overflow-fix { height:36px !important; color:#000; font-size:14px; font-family: 'MavenPro-Bold'; text-transform:uppercase; }
          #bit-events .bit-header-links { padding-top:2px; display:inline-block; }
          #bit-events .bit-share-text { padding:2px 12px 0 0; }
          #bit-events .bit-share-links a { width:23px !important; height:23px !important; margin-left:2px; }
          #bit-events .bit-fb-share { background-image:url(../images/icon-share-fb.gif) !important; }
          #bit-events .bit-twitter-share { background-image:url(../images/icon-share-tw.gif) !important; }

      #bit-events table { border-bottom:none !important; }
        #bit-events td { border-top:none !important; }
          #bit-events td.bit-date { text-transform:uppercase; }
          #bit-events a.bit-event-description-link { background-color:#000 !important; }
        .bit-tickets, td.bit-rsvp { padding:4px 0 !important; }
          #bit-events table .bit-tickets a, #bit-events table .bit-rsvp a { width:84px; height:24px; padding-top:4px; color:#000 !important; font:400 14px 'Edmondsans Regular', sans-serif !important; display:block; float:none !important; text-align:center; text-transform:uppercase; letter-spacing:1px; }
          #bit-events table .bit-tickets a:hover, #bit-events table .bit-rsvp a:hover { }

        .bit-events tr:first-child + tr th { padding-top:10px; }
        .bit-events th { font-size:11px !important; font-family: 'MavenPro-Bold' !important; color:#2f1406 !important; }
        td.bit-date { width:64px !important; color:#63381c !important; }
          td.bit-date a { font-size:12px !important; }
        td.bit-venue { color:#ccc !important; font-size:14px !important; }
          td.bit-venue:hover { color:#fff !important; }
            td.bit-venue a { color: #63381c !important; font-weight:normal !important; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
            #bit-events table a { color:#000 !important; font-weight:normal !important; -webkit-text-fill-color:rgb(0, 0, 0) !important;}
            td.bit-venue a:hover, #bit-events table a:hover { color:#333 !important; }
        td.bit-location a { font-size:14px !important; }


        #bit-events table td .bit-uiButton { height:auto !important; padding:0 !important; background:none !important; font-size:12px !important; font-weight:normal !important; line-height:1 !important; border:none !important; box-shadow:none !important; -webkit-box-shadow:none !important; }
          /*#bit-events td .bit-uiButtonDefault a { color:#63381c !important; }*/

        .bit-invert { padding:7px 10px 5px 10px !important; background-color:#2f1406 !important; color:#fff !important; font:400 12px 'Arimo', sans-serif !important; text-transform:uppercase; position:absolute; top:-47px; left:202px; }
        
        .bit-notify { color:#000; font-size:12px; font-family:'Edmondsans Regular', sans-serif; text-transform:uppercase; position:absolute; top:-43px; left:450px; }

        .bit-bottom td { margin-top:33px; padding-top:31px !important; text-align:center !important; }
          #bit-events table .bit-show-all-dates { 
            height:51px !important; padding:17px 53px 0 53px !important; color:#fffbe5 !important; font-size:15px !important; font-family: 'Chunkfive' !important; letter-spacing:1px !important; display:table-cell; white-space:nowrap; float:none !important; text-transform:uppercase !important; position:relative; text-decoration:none !important; -webkit-text-fill-color:rgb(255, 251, 229) !important; }
          .bit-show-all-dates:before, .bit-show-all-dates:after { width:190%; height:35px; background:url(../images/dotted-dash.png) 0 center repeat-x; content:""; position:absolute; top:8px; }
          .bit-show-all-dates:before { left:-479px; }
          .bit-show-all-dates:after { right:-479px; }
            #bit-events table .bit-show-all-dates:hover { background-position:center -51px; color:#fffbe5 !important; }

/*music pg*/
.mi-rt { position:relative; }
      .mi-rt .col { margin-left:0; }
      .mi-rt .span_6 { width:50%; }
      .s-title { padding-bottom:7px; font-size:16px; font-family: 'klinic_bold'; letter-spacing:0.6px; text-transform:uppercase; }
      .sc-scrubber { width: 95.5%; width: -webkit-calc(100% - 55px); width: -moz-calc(100% - 55px); width: calc(100% - 55px); position:absolute; top:0; right:0; }

      .sc-trackslist { margin-top:41px; list-style:none; }
        .sc-trackslist li { padding:16px 10px 16px 55px; background:url(../images/icon-sc-play.png) left 9px no-repeat; color:#7a5b4b; font-size:16px; font-family: 'klinic_med'; text-transform:uppercase; border-bottom:1px solid #333; }
        .sc-trackslist li:hover { background-position:left -66px; color:#000000; }
        .sc-trackslist li.active { background-image:url(../images/icon-sc-pause.png); color:#000; font-family: 'klinic_bold'; }
        .sc-trackslist li.active:hover  { background-position:left 9px; }
          .sc-trackslist .track-title { height:21px; color:inherit; display:block; overflow:hidden; }

      .buy-links { margin-top:41px; list-style:none; }
        .bl-item { height:54px; padding-top:10px; letter-spacing:-4px; border-bottom:1px solid #fff; }
          .buy-btn { height:32px; margin:0 10px; letter-spacing:normal; display:inline-block; }
          .btn--it { width:90px; background:url(../images/btn-itunes.png) no-repeat; }
          .btn--am { width:47px; background:url(../images/btn-amazon.png) no-repeat; }
          .btn--gp { width:82px; background:url(../images/btn-google.png) no-repeat; }

    .sc-volume-slider, .sc-artwork-list, .sc-info, .sc-controls, .sc-info-toggle, .sc-track-duration { display:none; }
    .sc-time-span { height:5px; background:#403025; position:relative; }
      .sc-waveform-container, .sc-buffer, .sc-played { height:5px; position:absolute; top:0; left:0; }
      .sc-waveform-container { width:100%; z-index:3; }
        .sc-waveform-container img { width:100%; height:5px; vertical-align:top; opacity:0; }
      .sc-buffer { background:#fff7e3; z-index:1; }
        .sc-buffer:before { width:100%; height:1px; background:#fff; position:absolute; top:0; left:0; content:""; }
      .sc-played { background:#000; z-index:2; }

      .sc-time-indicators { font-size:12px; text-align:right; display:none; }
      .playing .sc-time-indicators { display:block; }
   	
    .music-item { margin:0 10px 20px 10px; position:relative; overflow:hidden; }
      .music-header { width:100%; padding:13px 15px 27px 15px; background:#ccc; color:#fff; font-size:26px; font-weight:400; line-height:34px; font-family: 'Edmondsans-Regular', sans-serif; text-transform:uppercase; position:absolute; bottom:-100%; left:0; z-index:1; -webkit-box-shadow: 0 0 17px 4px rgba(0,0,0,.61); box-shadow: 0 0 17px 4px rgba(0,0,0,.61); }
      .music-item:hover .music-header { bottom:0; }
        .music-date { font-size:15px; line-height:1; text-transform:capitalize; }
        .detail--date { margin-top:10px; }
        .purch { padding-top:22px; line-height:0; text-align:left; }
          .purch a { display:inline-block; }
          .purch a:first-child + a { margin:0 15px; }
      .cover-holder { position:relative; }
        .logo-new { position:absolute; top:-30px; left:-40px; z-index:10; }
      .cover { width:100%; height:auto; position:relative; top:0; -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; border:1px solid #b4a386; }
        .music-item:hover .cover { top:-50px; }

/* footer */
   	.footer-grp { padding:20px 0; color:#fff; font-size:10px; font-weight:400; text-transform:uppercase; border-top:1px solid #000; }
   		.footer-icon { margin-right:10px; }
   		.footer-copy { padding-top:6px; text-align:center; }
      .footer-grp .print { padding-top:5px; font-size:11px; }
        .footer-grp a { color:inherit; }
   		 .footer-anchor:hover, .footer-copy a:hover { color:#fff; }

/* news */
    .news-item { margin:0 8px 33px 8px; background:#000; position:relative; overflow:hidden; }
    .news-item:after { width:100%; height:150px; position:absolute; bottom:-150px; left:0; content:""; z-index:0; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
    .news-item:hover:after { bottom:0; }
    .news-item .img-holder { height:196px; background:#000; }
      .news-item .wp-post-image { height:auto; }
      .news-content { padding:0 20px; color:#000; position:relative; z-index:1; }
      .news-title { height:75px; margin-bottom:20px; padding-top:10px; font-size:18px; font-family: 'MavenPro-Bold'; line-height:21px; letter-spacing:0.2px; text-transform:uppercase; overflow:hidden; }
      .news-footer { margin-top:10px; padding-bottom:10px; text-transform:uppercase; }
        .posted { padding-top:4px; font:400 11px 'MavenPro-Bold', sans-serif; float:left; }
          .posted .ico-clock { margin-right:5px; font-size:15px; vertical-align:middle; }
        .news--more { margin-top:5px; color:inherit; font:400 12px 'MavenPro-Bold', sans-serif; float:right; }
      .news-item:hover .news-title { font-family: 'Edmondsans-Regular', sans-serif; }
        .news-item a:hover { color:inherit; }

/* photos */
    .photo-item { margin:0 2% 20px 2%; }
      .photo-img { color:#fff; border:1px solid #9f9f9f; cursor:pointer; }
        .photo-img img { height:auto; }
        .photo-total { width:100%; height:100%; padding-top:30%; background:rgba(79, 53, 23, .85); font-size:25px; text-align:center; text-transform:uppercase; position:absolute; top:0; left:0; visibility:hidden; z-index:5; }
          .num { font-size:48px; line-height:1; font-family:'MavenPro-Bold'; text-align:center; }
          .photo-item:hover .photo-total { visibility:visible; }
      .photo-title { margin-top:14px; font-size:20px; font-family:'Edmondsans-Regular'; text-transform:uppercase; }

      .slideshowlink { display:none; }

      .gallery-grp { height:0; overflow:hidden; position:relative; }

    .gallery-article { position:relative; }
      .gallery-article .photo-item, .gallery-icon { text-align:center; }
        .gallery-icon a { cursor:default; }
        .gallery-icon img { max-width:55%; height:auto; }

      .gallery-article br { display:none; }
        .gallery-item { width:100%; display:none; position:absolute; top:0; left:0; }
        .gallery-item.current { display:block; }

  .overlay-photo { overflow-y:auto; }
  .overlay .container, .ol-article { height:100%; }
    .ol-article h3, .ol-article .fb-comments { display:none !important; }
    .ol-article .gallery-icon img { max-width:100%; }

    .insta-img-list { position:relative; }
      .insta-img { width:100%; text-align:center; position:absolute; display:none; }
      .insta-img.current { display:block; }

      .close-gal { width:37px; height:37px; margin:10px auto 20px auto; padding-left:1px; background:#2f1406; color:#fff6e2; font-family:'Times New Roman'; font-size:40px; line-height:1; text-align:center; display:block; }
        .close-gal:hover { background:#fff6e2; color:#2f1406; }

      .gallery-title { margin:10px 0 20px 0; font-size:15px; text-transform:uppercase; }

      .photo-arrow { padding:10px; background:#2f1406; color:#fff6e2; font-size:30px; position:absolute; top:50%; z-index:20; -webkit-border-radius:50px; border-radius:50px; }
        .photo-arrow:hover { background:#fff6e2; color:#2f1406; }
      .pa--prev { left:0; }
      .pa--next { right:0; }
    .photo-image {padding: 0 70px;}


/* videos */
    .video-item { margin:0 8px 20px 8px; padding-bottom:25px; }
      .video-embed { padding-bottom:20px; }
        .video-embed iframe { height:529px; display:block; }
      .video-img { height:165px; background:#000; -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; }
      .inner--video { height:auto; }
        .video-anchor img { height:auto; }
        .video-item:hover .video-anchor img { opacity:0.45; }
        .img--yt { position:relative; top:-27px; }
        .inner--video .img--yt { top:0; }
      .video-anchor { display:block; }
        .video-anchor:after { width:calc(100% - 8px); height:calc(100% - 8px); background:url(/images/icon-play.png) center center no-repeat; top:0; left:0; z-index:2; position:absolute; visibility:hidden; content:""; }
      .video-item:hover .video-anchor:after { visibility:visible; }
      .video-title { margin-top:5px; font:normal 20px/26px'Edmondsans-Regular'; text-transform:uppercase; }
        .video-item:hover .video-title {  }

/* news */
    .detail-header {}
    .detail-grp { margin-bottom:50px; padding-top:30px; } 
      .detail-title { margin-bottom:10px; font:normal 30px/1 'Edmondsans-Regular'; letter-spacing:2px; text-transform:uppercase; }
      .detail-content { margin-top:20px; padding-bottom:55px; font-size:16px; font-weight:300; line-height:25px; }
        .detail-content p { margin-bottom:20px; }
        .detail-content iframe { max-width:100%; margin:0 auto; display:block; }
        .detail-content ul, .detail-content ol { padding-left:10px; }
        .detail-content ul { list-style:disc inside; }
        .detail-content .gallery { letter-spacing:-5px; }
          .detail-content .gallery-item { width:30.333%; margin:0 10px; letter-spacing:normal; display:inline-block; position:relative; top:auto; left:auto; cursor:pointer; }
          .detail-content .gallery-icon { padding:0 10px 20px 10px; }

      .detail-subtitle { margin-top:20px; font-size:20px; }
      .detail-left { padding-right:20px; }
        .album-cover { height:auto; }

    .overlay { width:100%; height:100%; background:rgba(0,0,0,0.5); position:fixed; top:0; left:0; z-index:150; display:none; }
        .ol--close { margin:0; padding-top:7px; font-size:23px; position:absolute; top:30px; right:0; z-index:50; }
        .ol-article .gallery-icon { padding:100px; }